*{
    background-color:rgb(244, 244, 244);
   
    font-family: sans-serif;
}
.ugselector{
    background-color: #99ffcc;
    color: #0000ff;
    font-weight: bold;
}
#selectorheading{
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.csstyp{
  
    color: blue;
     background-color: greenyellow;
}
