#main{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    background-color: azure;
    gap: 39px;
}
.left-img{
    width: 45%;
}
.left-img img{
    /* height: 400px; */
    
    width: 100%;
    /* width: 100vh; */
    /* height: 100vw; */
    /* height: 100vmax; */
}
.right-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
   /* text-align: right; */
   font-size: 20px;
}
.right-content h3{
    font-size: 50px;
    
}
.right-content p{
font-size: 20px;
/* font-size: 1.2rem; */
/* font-size: 2em; it is relative to parent */
/* color: blue;
color: #fff;
color:#000000;
color: rgb(255, 255, 255); */
color: rgba(86, 26, 26, 0.7);

}