/* #btn{
    background-color: cadetblue;
    padding: 15px 20px;
    border:none;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}
#btn:active{
    padding: 12px 25px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    /* transition-property: height,width,backgroundcolor;
    transition-duration: 2s;
    transition-timing-function:linear;
    transition-delay: 1s; */
    /* transition: all 2s linear;
}
.box:hover{
    background-color: aqua;
    height: 300px;
    width: 300px;
} */ *
 .static{
       background-color: rgb(43, 71, 197);
    height: 200px;
    width: 200px;
    position: relative;
    top: 2px;
    right: -200px;
 }
 .relative{
       background-color: rgb(239, 206, 191);
    height: 500px;
    width: 500px;
    position: relative;
 }
.absolute{
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
 bottom: 150px;
right: 150px;
}
.fixed{
      background-color: rgb(30, 132, 76);
    height: 200px;
    width: 200px;
    /* position: fixed; */
    top: 30px;
    right: 30px;
}
.sticky{
     background-color: rgb(240, 102, 229);
    height: 200px;
    width: 200px;
    position: sticky;
   top: 100px;
   left: 100px;
}