.spiner{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid black; 
   border-bottom: 10px solid wheat;

   animation-name: xy;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: reverse;
   animation-direction: alternate;
   animation-direction: alternate-reverse;
   animation-delay: 2s;

}

@keyframes xy{
    /* from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
 
    } */

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}