.pcon{
    height: 600px;
    width: 200px;
    background-color: rgb(241, 223, 223);
    /* display: flex;
    justify-content: center; */
    border: 3px solid black;
    margin-left: 50%;
  

}
.mover{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
   margin: auto;
    animation-name: xy;
     animation-duration: 1s;
   /* animation-timing-function: linear; */
   animation-iteration-count: infinite;
     /* animation-direction: reverse; */
     animation-direction: alternate;
}

@keyframes xy {
    from{
        transform: translatey(0px);
    }
    to{
        transform: translatey(550px);
    }
}