@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bytesized&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;

}

.navigation{
    
    height: 150px;
    width: 100%;
    background-color: white;
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo img {
   width: 200px;
   height: auto;
}
.navlist{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navlist ul {
    height: 25px; 
    padding: 30px;
    background-color: white;
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
     justify-content: space-between;
     font-size: 16px;

}
.btn{
    background-color: #4CAF4F;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    
}

main{
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    gap: 55px;

}
#left-section{
  width: 60%;
  display: flex;
  padding-top: 48px;
 flex-direction: column;
 gap: 30px;
}
#left-section h1{
    font-size: 60px;
    color: black;
    line-height: 1.3;
    
}
#left-section p{
    font-size: 15px;
    color: #555555;
    line-height: 1.9; 
   
}
#left-section span{
    color: #4CAF4F;
    
}
#right-section{
    width: 40%;

}
#right-section img{
    width: 405px;
    height: 400px;
    
}

.client-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #4D4D4D;
    gap: 20px;
}
.client-logos{
   padding: 50px 200px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.client-logos img{
    width: 55px;
    height: auto;
}
.manage-community{
      padding: 10px 200px;
      height: 150px;
      width: 100%;
    background-color:white;
     color: #212121;
    justify-content: center;
     display: flex;
     align-items: center;

}
.manage-community h1{
    padding-left: 135px;
    color: #4D4D4D;
    font-size: 30px;
    line-height: 1.3;
    display: flex;
    /* align-items: center; */
 background-color:white;
    height: 120px;
    width: 55%;
}

.threediv{
    display: flex;
    padding: 50px 200px;
    align-items: center;
    justify-content: space-between;

}