*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: white;
    display: flex;
    padding: 100px 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}
.navigation-list{
    background-color: white;
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 30px;



}
.logo{
    height:20px ;
}
.btn{
    background-color: rgb(166, 235, 63);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}
#main-image{
    height: 300px;
    width: 250px;
    height: auto;

}   
main{
    background-color: rgb(249, 246, 246);
    padding: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#left-content h1{
    font-size: 70px;
    color: #212121;
    line-height: 1.3;
}
#left-content p{
    font-size: 20px;
    color: #424242;
}

#right-content{
    width: 40%;
    gap: 30px;
}   
#right-content img{
    width: 80%;
    height: auto;
}

#left-content h1 span{
    color: rgb(163, 239, 48);
}